*{
    margin:0;
    padding:0;
    font-family:fantasy;
}
:root{
    --bg-color: #110c23;
    --text-color:  rgb(102, 146, 146);;
    --accent-color:#150441;
    --gradient: linear-gradient( rgb(140, 198, 248), rgb(48, 180, 195));
    --box-shadow: 5px 6px 3px #13293d;
    /* Font Design */
    --clean-font: 'Inter Tight', sans-serif;
}
/* each element design */
header{
    display:flex;
    height:20vh;
    justify-content: space-between;
    background: var(--gradient);
}
img{
    display:flex;
    margin:20px auto;
    height:300px;
    width:auto;
    justify-content: space-between;
    overflow: hidden;
}
section{
    width:80%;
    margin:0 auto;
    border:var(--bg-color);
    box-shadow:var(--box-shadow);
    min-height:70vh;
    display: flex;
}
.hide, #correct-ans.hide{
    display:none;

}
#instructions{
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: var(--clean-font);

}
#instructions  button {
    font-size:4em;
    background-color: var(--text-color);
}
#instructions  button:hover {
 opacity: 0.5;
}
p{
    font-size: 2.5em;
    text-transform: uppercase;
    color:var(--text-color);
}
#game {
    flex-wrap:wrap;
    
}
#questions{
    font-size: 2.6em;
    flex-wrap: wrap;
}
#correct-ans {
    width:100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

#correct-ans  {
    flex:1 1 45%;
    border:4px solid black;
    font-size: 3em;
}

.correct {
    color:rgb(15, 166, 15);
}
.wrong {
    color:rgb(235, 18, 18)
}
#ans-buttons{
    
    justify-content: space-between;
    font-size: 2rem;
    text-align:center;
    margin:0 auto;
    height:100px;
    width: 600px;
  
}

#scores-input {
    flex-direction:column;
    align-items: center;
}

#high-scores {
    flex-direction:column;
    align-items:center
}
@media screen and (max-width: 576px) {
    header {
      flex-direction: column;
    }
    img{
        width:250px;
    }
  }
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
    img{
        width:400px;
    }
  }